#block-step{
	height:30px; 
	border-bottom:1px solid #E0E0E0;
	margin-top: 10px; 
}
.block-itog{
	height:80px; 
	margin-top: 150px; 
}
.itog{
	float: right;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
}
#Clear{
	float:right;
}
#header-list{
	height:30px;
	border-bottom:1px solid #DBDBDB;
}
#header-list >div{
	float:left;
	margin-left: 5px;
	text-align:center;
	font: bold 13px sans-serif;
	margin-top:7px;
}

#head1{width: 400px;}
#head2{width: 55px; }
#head3{width: 140px;}

.block-list{
height: 13px;
}
 .block-list >div{
	 float: left;
	 margin-left: 5px;
 }
 
 .title-basket{
	 width:400px;
	 height:125px;
 }
 .count-book{
	  width: 55px;
	  height: 125px;
 }
 .price-product{
	 width:140px;
	 height:125px;
 }

.title-basket >p{
	margin-top:15px;
}
.title-basket >p>a{
	font: 15px sans-serif;
	color: #097A9F;
}

.title-basket >p>a:hover{
	text-decoration: none;
}

.count-book input{
	text-align: center;
	border: 1px solid #DDDDDD;
	width: 32px;
	height: 22px;
	font: 15px sans-serif;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

.count-book p{
	cursor: pointer;
	font: 15px sans-serif;
	margin: 1px;
}

.price-product p{
	margin-left: 15px;
	font: bold 18px sans-serif;
}

.price-product h5{
	margin-top: 20px;
	margin-left: 10px;
	color: #848484;
}
.bottom-line{
	background: url(/imag/bottom-line.jpg);
	height:5px;
	width:790px;
	margin:8px;
}
.block-list >p{
	 float: right;
	 margin-left: 5px;
 }
.button-conf{
	font: 20px sans-serif;
	margin-top: 20px;
	margin-left: 10px;
	font: 18px solid #B0C181
	
}

.button-conf >a{
	border: 1px  solid #B0C181;
	font: 15px sans-serif;
	color: red;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-decoration:none;
}